extends layouts/default.jade
block content
    #container
      #game

    //- Socket.io
    script(src="/js/vendor/socket.io.js")
    //- Phaser
    script(src="/js/vendor/phaser.js")
    //- Utils
    script(src="/js/utils/math.js")
    script(src="/js/utils/xmlParser.js")
    script(src="/js/utils/HealthBar.standalone.js")
    //- Game
    script(src="/js/app.js")

    //- Scenes
    script(src="/js/scenes/login.js")
    script(src="/js/scenes/game.js")

    //- Entities
    script(src="/js/entities/character.js")
    script(src="/js/entities/player.js")